<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Gastos</title>
</head>
<body>
    <form action="/vista_gastos" method="post">

        <h2>Nuevo gasto</h2>
        <input id="name" name="name" type="text">
        <h2>Precio</h2>
        <input id="price" name="price" type="number">
        <label for="category">Escoge una categoria</label>
        <select name="category" id="category">
            <option value="food">Alimentos</option>
            <option value="clothes">Vestimenta</option>
            <option value="transport">Transporte</option>
            <option value="documents">Documentos</option>
            <option value="other">Otros</option>
        </select>
        <button type="submit">Enviar</button>

    </form>
</body>
</html>